<ion-header class="ion-no-border" collapse="fade" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col sizeXl="3" sizeLg="5" sizeMd="5" sizeSm="9" sizeXs="12" size="3" pullXl="4" pullLg="3" pullMd="3"
          pullSm="1" pullXs="0" pull="0">
          <ion-title class="font-weight-900 logo pointer" (click)="navgiateToRoot()">
            Logo
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>