.main-container {
  margin-top: 80px;
}

.subscribe-card {
  border: 1px solid #BFB8D7;
  border-right: 0;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.summary-card {
  border: 1px solid #BFB8D7;
  border-left: 0;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #F1EDFE;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
}

.sub-title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.10000000149011612px;
}

.title-2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
}

.sub-title-2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0em;
}