<ion-content color="secondary" [fullscreen]="true">
  <ion-row class="ion-justify-content-center main-container">
    <ion-col sizeXl="7" sizeLg="6" sizeMd="5" sizeSm="11" sizeXs="11" size="11" class="subscribe-card ion-padding">
      <ion-row>
        <ion-col size="12">
          <ion-text class="title">Subscription</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text class="sub-title">to our Monthly Surprise Box</ion-text>
        </ion-col>
        <hr>
        <ion-col size="12">
          <ion-text class="title-2">Contact Information</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text class="sub-title-2">Your Name</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-item fill="outline">
            <ion-input fill="outline" placeholder="e.g Osama Alshathri"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-text class="sub-title-2">Email</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-item fill="outline">
            <ion-input fill="outline" placeholder="Osama@gmail.com"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-text class="title-2">Child’s Information</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text class="sub-title-2">Child’s Full Name</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-item fill="outline">
            <ion-input fill="outline" placeholder="e.g Sarah Mohammad"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-text class="sub-title-2">Child’s Date of Birth</ion-text>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col size="4">
              <ion-list>
                <ion-item>
                  <ion-select aria-label="Fruit" placeholder="Date">
                    <ion-select-option value="apples">25</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="4">
              <ion-list>
                <ion-item>
                  <ion-select aria-label="Fruit" placeholder="Month">
                    <ion-select-option value="apples">January</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col size="4">
              <ion-list>
                <ion-item>
                  <ion-select aria-label="Fruit" placeholder="Year">
                    <ion-select-option value="apples">1998</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <ion-text class="sub-title-2">Grade</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-select aria-label="Fruit" placeholder="e.g. Grade 2">
                <ion-select-option value="apples">1998</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12">
          <ion-text class="sub-title-2">Gender</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text class="title-2">As a parent select any 3 topics</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-chip [outline]="true">Arabic</ion-chip>
          <ion-chip [outline]="true">Islamic</ion-chip>
          <ion-chip [outline]="true">English</ion-chip>
          <ion-chip [outline]="true">History</ion-chip>
          <ion-chip [outline]="true">Sports</ion-chip>
        </ion-col>
        <ion-col>
          <ion-button class="btn-secondary" expand="block"
            style="padding: 8px 27.09px 8px 26px; border-radius: 16px;font-size: 23px">Continue to payment</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col sizeXl="3" sizeLg="4" sizeMd="5" sizeSm="11" sizeXs="11" size="11" class="summary-card ion-padding">
      <ion-row class="ion-padding-horizontal ion-margin-vertical">
        <ion-col size="12">
          <ion-text class="title">Summary</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text class="sub-title">of your Monthly Surprise Box</ion-text>
        </ion-col>
        <ion-col size="12" class="ion-margin-vertical">
          <ion-card class="custom-card ion-padding-bottom">
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <ion-text class="sub-title">Mystery Box</ion-text><br>X 1
                </ion-col>
                <ion-col class="ion-text-right">
                  <ion-text class="sub-title">SAR <ion-text class="font-weight-700">456</ion-text></ion-text><br>Monthly
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-text class="sub-title-2">Subtotal</ion-text>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-text class="sub-title">SAR <ion-text class="font-weight-700">456</ion-text></ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="sub-title-2">Shipping</ion-text>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-text class="sub-title-2" style="color: #707070">Free</ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="sub-title-2">Taxes</ion-text>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-text class="sub-title">SAR <ion-text class="font-weight-700">4.0</ion-text></ion-text>
        </ion-col>
        <ion-col size="12">
          <hr color="secondary" class="ion-margin-vertical line" />
        </ion-col>
        <ion-col size="6">
          <ion-text class="title-3">Total</ion-text>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-text class="title-2"><ion-text>SAR</ion-text> 460</ion-text>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>