.main-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.subscribe-card {
  border: 1px solid #BFB8D7;
  border-right-width: 0;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding-top: 16px;

  .path {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
    color: #707070;
  }

  .path-ico {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.summary-card {
  border: 1px solid #BFB8D7;
  border-left-width: 0;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #F1EDFE;
  padding-top: 16px;

  .custom-card {
    margin: 0;
    box-shadow: none;
    border-radius: 8px;
    --background: #fff;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  color: #202124;
}

.sub-title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.10000000149011612px;
  color: #202124;
}

.title-2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  color: #202124;
}

.sub-title-2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0em;
  color: #202124;
}

.title-3 {
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.625rem;
  color: #333333;
}

@media screen and (max-width: 767px) {
  .subscribe-card {
    border-bottom-left-radius: 0;
    border-top-right-radius: 24px;
    border-right-width: 1px !important;
    border-bottom-width: 0px !important;
    padding: 12px;
  }

  .summary-card {
    border-top-right-radius: 0;
    border-bottom-left-radius: 24px;
    border-left-width: 1px !important;
    border-top-width: 0px !important;
    padding: 12px;
  }
}

.line {
  background-color: #D1C5FB;
}

.custom-input,
.custom-select {
  width: 100%;
  min-height: 0;
  height: 2.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  gap: 8px;
  box-shadow: 0px 1px 2px 0px #1018280D;
  caret-color: #AB95F9;
  --background: #fff;
  --color: #000;
  --border-width: 1px;
  --border-radius: 8px;
  --border-color: #D0D5DD;
  --padding-top: 10px;
  --padding-right: 14px;
  --padding-bottom: 10px;
  --padding-left: 14px;
  --placeholder-color: #667085;
}

.custom-select::part(icon) {
  position: absolute;
  right: 20px;
  color: #000;
}

.custom-radio {
  box-shadow: 0px 1px 2px 0px #1018280D;
  --border-width: 1px;
  --border-color: #D0D5DD;
  --background: #fff;
  --color: #202124;
  --border-radius: 8px;

  ion-radio::part(container) {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 2px solid #ddd;
  }
  
  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
  }
  
  ion-radio.radio-checked::part(container) {
    background: #6633FF;
    border-color: transparent;
  }
  
  ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
  }
}